<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="us.envy.HotelGuide" version="1.1.0" defaultlocale="en">
	<!-- EN -->
	<name xml:lang="en">HotelGuide</name>
	<description xml:lang="en">
		HotelGuide compiles hotels from online travel provides and lets you easily filter them based on location and price.
		Find all hotels in your current or favorite travel destination's vicinity and compare prices with other hotels just down the road.
	</description>

	<!-- NL -->
	<name xml:lang="nl">HotelGids</name>
	<description xml:lang="nl">
		De HotelGids van last-minute-vakanties.be verzamelt de hotels van online aanbieders en laat je eenvoudig filteren op locatie en prijs.
		Vind in 1 oogopslag alle hotels in de buurt van je huidige of favoriete vakantiebestemming en vergelijk in prijs met een ander hotel een straat verderop!
	</description>

	<author href="http://envy.us" email="hotelguide@envy.us">envy.us</author>

	<!-- Details: https://build.phonegap.com/docs/config-xml -->

	<!-- Both landscape & portrait are supported -->
	<preference name="orientation" value="default" />

	<!-- Supported platforms -->
	<gap:platforms>
		<gap:platform name="ios" minVersion="4.1" />
		<gap:platform name="winphone" minVersion="8.0" />
		<gap:platform name="android" minVersion="3.0" />
	</gap:platforms>

	<!-- App root -->
	<content src="index.html" />

	<!-- API permissions -->
	<feature name="http://api.phonegap.com/1.0/geolocation" />
	<feature name="http://api.phonegap.com/1.0/network" />

	<!-- Suspending app does not exists for real -->
	<preference name="exit-on-suspend" value="false" />

	<!-- Allow external resources: LMV, Google (Maps, Analytics) services, hotel providers, ... -->
	<access origin="*" />

	<!-- Hi-res icon, should work for all devices/sizes; otherwise, specific icons can be added to res/icon -->
	<icon src="icon.png" />

	<!-- iOs icons -->
	<icon src="res/icon/ios/icon_iphone.png" gap:platform="ios" width="57" height="57" />
	<icon src="res/icon/ios/icon_iphone@2x.png" gap:platform="ios" width="114" height="114" />
	<icon src="res/icon/ios/icon_ipad.png" gap:platform="ios" width="72" height="72" />
	<icon src="res/icon/ios/icon_ipad@2x.png" gap:platform="ios" width="144" height="144" />

	<!-- Don't apply Apple's icon gloss -->
	<preference name="prerendered-icon" value="true" />

	<!-- Default splash screen, fallback for when no splash is specified -->
	<gap:splash src="res/screen/ios/launch_iphone.png" />

	<!-- iDevice splash screens -->
	<gap:splash src="res/screen/ios/launch_iphone.png" gap:platform="ios" width="320" height="480" />
	<gap:splash src="res/screen/ios/launch_iphone@2x.png" gap:platform="ios" width="640" height="960" />
	<gap:splash src="res/screen/ios/launch_iphone5.png" gap:platform="ios" width="640" height="1136" />
	<gap:splash src="res/screen/ios/launch_ipad_landscape.png" gap:platform="ios" width="1024" height="768" />
	<gap:splash src="res/screen/ios/launch_ipad_portrait.png" gap:platform="ios" width="768" height="1024" />
	<gap:splash src="res/screen/ios/launch_ipad_landscape@2x.png" gap:platform="ios" width="2048" height="1536" />
	<gap:splash src="res/screen/ios/launch_ipad_portrait@2x.png" gap:platform="ios" width="1536" height="2048" />

	<!-- WinPhone splash screen -->
	<gap:splash src="res/screen/winphpne/launch_wvga.jpg" gap:platform="winphone" />

	<!-- Android splash screens -->
	<!-- @todo: Landscape is currently not supported by PhoneGap; check again later -->
	<gap:splash src="res/screen/android/launch_ldpi.png" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="res/screen/android/launch_mdpi.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="res/screen/android/launch_hdpi.png" gap:platform="android" gap:density="hdpi" />
	<gap:splash src="res/screen/android/launch_xhdpi.png" gap:platform="android" gap:density="xhdpi" />
</widget>
